.footer {
  background-color: #f0e4d6;
  padding: 35px 0;
  text-align: center;
  margin-top: 50px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 12px;
}

.icon-circle {
  width: 45px;
  height: 45px;
  background-color: white;
  border: 2px solid #d7c4b4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8b5e3c;
  font-size: 20px;
  transition: 0.3s ease;
}

.icon-circle:hover {
  background-color: #d7c4b4;
  color: white;
}

.footer-text {
  font-size: 15px;
  color: #8b5e3c;
}

.heart {
  color: #ff6f91;
}
